
@page "/categories"
@inject IServiceMovie movie
<div class="form-group">
    <a href="categories/create" class="btn btn-info">Crear Categoría</a>
    <br>
    <br>
     <a href="categories/edit" class="btn btn-warning">Editar Categoria</a>
  
</div>

@code {
}