<div class="alert alert-info" role="alert">
    Lo siento, página no disponible, en espera de que mis estudiantes la implementen.
</div>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("404: Página no encontrada");
    }
}